doctype html
html(ng-app='App')
  head
    title tbEnterprise
    link(rel='stylesheet', href='./css/style.css')
  body
    h1 Pug -  asdasdnode template engine
      p Pug is a terse and simple templating language with a
      strong focus on performance and powerful features.
    script(src='./js/bundle.js')